<h1>Врачи</h1>

<% @doctors.each do |doctor| %>
  <li>
    <td>
      <%=doctor.last_name %>
    </td>
    <td>
      <%=doctor.first_name %>
    </td>
    <td>
      <%=doctor.middle_name %>
    </td>
    <td>
      <%=doctor.category.name %>
    </td>
    <td><%= link_to "Destroy", doctor, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
  </li>
<% end %>